<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <p>😎Hi, i'm George and i'm from Spain. I'm currently a student in final year.</p>
    <p>♥I love tecnology since i was a child and i always was curious to undertand how tecnology works.</p>
    <p>🔨I currently continiun in that walk focusing in blockchain and cybersecurity.</p>
    <p>⚡Now, i'm working in dapps in the solana blockchain and try to secure smart contracts.</p>
    <p>🔎In this blog you will find resources that i discovered, tutorials and stuff that i think is interesting.</p>
    <p>📞How reach me</p>
    <a href="https://twitter.com/Dur4nG">twitter</a>
    <a href="https://github.com/Jorge-Duran-Pinto">github</a>
    <a href="https://app.hackthebox.eu/profile/473840">hackthebox</a>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
